<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.bunkerpalace.cordova.YoutubeVideoPlayer"
    version="1.0.0">

	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
	<js-module src="www/YoutubeVideoPlayer.js" name="YoutubeVideoPlayer">
        <clobbers target="YoutubeVideoPlayer" />
    </js-module>

</plugin>